



.month--data{
    display: flex;
    gap: 4em;
    justify-content: center;
}

.energy--consumed{
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
    max-width: 280px;
    width: 50%;
}

.month--bill{
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    
    max-width: 280px;
    width: 50%;
}

.month--paid{
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: rgba(46, 179, 75, 0.26);
  max-width: 280px;
  width: 50%;
}
.month--pending--payment{
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: rgba(37, 89, 199, 0.452);
    max-width: 280px;
    width: 50%;
    cursor: pointer;
  }
  .month--pending--payment:hover{
   
    position: relative;
    background-color: rgba(37, 88, 199, 0.63);
    box-shadow: 0 12px 18px 0 rgba(0,0,0,0.2);
  }
  .month--paid .payment--image{
    width: 50px;
    height: auto;
  }
 
  .month--pending--payment .payment--image{
    width: 55px;
    height: auto;
  }
   
  .month--pending--payment .payment--image--processing{
    width: 55px;
    height: auto;
    animation: rotation 2s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }